In [ ]:
!pip install optuna

Collecting optuna
  Downloading optuna-3.6.1-py3-none-any.whl.metadata (17 kB)
Collecting alembic>=1.5.0 (from optuna)
  Downloading alembic-1.13.2-py3-none-any.whl.metadata (7.4 kB)
Collecting colorlog (from optuna)
  Downloading colorlog-6.8.2-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from optuna) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from optuna) (24.1)
Requirement already satisfied: sqlalchemy>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from optuna) (2.0.32)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from optuna) (4.66.5)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.10/dist-packages (from optuna) (6.0.2)
Collecting Mako (from alembic>=1.5.0->optuna)
  Downloading Mako-1.3.5-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: typing-extensions>=4 in /usr/local/lib/python3.10/dist-packages (from alembic>=1.5.0->optuna) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=1.3.0->optuna) (3.0.3)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.10/dist-packages (from Mako->alembic>=1.5.0->optuna) (2.1.5)
Downloading optuna-3.6.1-py3-none-any.whl (380 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 380.1/380.1 kB 2.3 MB/s eta 0:00:00
Downloading alembic-1.13.2-py3-none-any.whl (232 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 233.0/233.0 kB 8.4 MB/s eta 0:00:00
Downloading colorlog-6.8.2-py3-none-any.whl (11 kB)
Downloading Mako-1.3.5-py3-none-any.whl (78 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.6/78.6 kB 3.7 MB/s eta 0:00:00
Installing collected packages: Mako, colorlog, alembic, optuna
Successfully installed Mako-1.3.5 alembic-1.13.2 colorlog-6.8.2 optuna-3.6.1

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use("ggplot")
import optuna

import seaborn as sns

In [ ]:
# データの読み込み
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df_train_=df_train
df_test_=df_test

df_train_["train_test"]="train"
df_test_["train_test"]="test"

df_test_.insert(1,"Survived",np.nan)

df_all=pd.concat([df_train_,df_test_])

df_all.reset_index(drop=True)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,train_test
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,train
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,train
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,train
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,train
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,test
1305,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,test
1306,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,test
1307,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,test
1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,test

In [ ]:
df_all["honor"]=df_all["Name"].map(lambda x:x.split(",")[1].split(".")[0])
df_all["honor"]=df_all["honor"].replace((" Don"," Rev"," Jonkheer"," Capt"),1)
df_all["honor"]=df_all["honor"].replace((" Mr"),2)
df_all["honor"]=df_all["honor"].replace((" Master"," Dr"," Major"," Col"),3)
df_all["honor"]=df_all["honor"].replace((" Miss",),4)
df_all["honor"]=df_all["honor"].replace((" Mrs"," Mme"," Ms"," Lady"," Sir"," Mlle"," the Countess"," Dona"),5)
df_all["Namelen"]=df_all["Name"].map(lambda x: len(str(x)))
df_all["Nameini"]=df_all["Name"].map(lambda x: str(x)[0])

In [ ]:
df_all.groupby("honor")["Age"].median()
df_all.loc[(df_all["honor"]==1)&(df_all["Age"].isnull()),"Age"]=41.0
df_all.loc[(df_all["honor"]==2)&(df_all["Age"].isnull()),"Age"]=29.0
df_all.loc[(df_all["honor"]==3)&(df_all["Age"].isnull()),"Age"]=7.0
df_all.loc[(df_all["honor"]==4)&(df_all["Age"].isnull()),"Age"]=22.0
df_all.loc[(df_all["honor"]==5)&(df_all["Age"].isnull()),"Age"]=35.0




df_all["Family"]=df_all["Parch"]+df_all["SibSp"]+1


df_all["Ticketini"]=df_all["Ticket"].map(lambda x: str(x)[0])
df_all["Ticketlen"]=df_all["Ticket"].map(lambda x: len(str(x)))


df_all["Fare"]=df_all["Fare"].fillna(df_all["Fare"].median())

df_all["Embarked"]=df_all["Embarked"].fillna("S")

In [ ]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1309 entries, 0 to 417
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     891 non-null    float64
 2   Pclass       1309 non-null   int64
 3   Sex          1309 non-null   int64
 4   Age          1309 non-null   float64
 5   SibSp        1309 non-null   int64
 6   Parch        1309 non-null   int64
 7   Fare         1309 non-null   float64
 8   Embarked     1309 non-null   int64
 9   train_test   1309 non-null   object
 10  honor        1309 non-null   int64
 11  Namelen      1309 non-null   int64
 12  Nameini      1309 non-null   int64
 13  Family       1309 non-null   int64
 14  Ticketini    1309 non-null   int64
 15  Ticketlen    1309 non-null   int64
dtypes: float64(3), int64(12), object(1)
memory usage: 173.9+ KB

In [ ]:
from sklearn.preprocessing import LabelEncoder
lbl=LabelEncoder()
df_all["Sex"]=lbl.fit_transform(df_all["Sex"])
df_all["Embarked"]=lbl.fit_transform(df_all["Embarked"])
df_all["Ticketini"]=lbl.fit_transform(df_all["Ticketini"])
df_all["Nameini"]=lbl.fit_transform(df_all["Nameini"])

In [ ]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1309 entries, 0 to 417
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     891 non-null    float64
 2   Pclass       1309 non-null   int64
 3   Sex          1309 non-null   int64
 4   Age          1309 non-null   float64
 5   SibSp        1309 non-null   int64
 6   Parch        1309 non-null   int64
 7   Fare         1309 non-null   float64
 8   Embarked     1309 non-null   int64
 9   train_test   1309 non-null   object
 10  honor        1309 non-null   int64
 11  Namelen      1309 non-null   int64
 12  Nameini      1309 non-null   int64
 13  Family       1309 non-null   int64
 14  Ticketini    1309 non-null   int64
 15  Ticketlen    1309 non-null   int64
dtypes: float64(3), int64(12), object(1)
memory usage: 173.9+ KB

In [ ]:
train=df_all[df_all["train_test"]=="train"]
testsub=df_all[df_all["train_test"]=="test"]

X=train.drop(["PassengerId","Survived","train_test"],axis=1)
y=train.iloc[:,1:2]
test=testsub.drop(["PassengerId","Survived","train_test"],axis=1)

In [ ]:
print(test.columns)

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked', 'honor',
       'Namelen', 'Nameini', 'Family', 'Ticketini', 'Ticketlen'],
      dtype='object')

In [ ]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1309 entries, 0 to 417
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     891 non-null    float64
 2   Pclass       1309 non-null   int64
 3   Sex          1309 non-null   int64
 4   Age          1309 non-null   float64
 5   SibSp        1309 non-null   int64
 6   Parch        1309 non-null   int64
 7   Fare         1309 non-null   float64
 8   Embarked     1309 non-null   int64
 9   train_test   1309 non-null   object
 10  honor        1309 non-null   int64
 11  Namelen      1309 non-null   int64
 12  Nameini      1309 non-null   int64
 13  Family       1309 non-null   int64
 14  Ticketini    1309 non-null   int64
 15  Ticketlen    1309 non-null   int64
dtypes: float64(3), int64(12), object(1)
memory usage: 173.9+ KB

In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder


X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=0)

# TensorFlowモデルの作成
model = tf.keras.Sequential([
    tf.keras.layers.Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

# モデルのコンパイル
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

# Early Stoppingのコールバックを設定
early_stopping = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

# モデルの訓練
history = model.fit(X_train, y_train,
                    validation_data=(X_val, y_val),
                    epochs=100,
                    batch_size=32,
                    callbacks=[early_stopping])

# バリデーションデータでの精度評価
val_loss, val_accuracy = model.evaluate(X_val, y_val)
print(f'Validation Accuracy: {val_accuracy:.4f}')

Epoch 1/100

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

23/23 ━━━━━━━━━━━━━━━━━━━━ 2s 13ms/step - accuracy: 0.5726 - loss: 1.0762 - val_accuracy: 0.6201 - val_loss: 0.6873
Epoch 2/100
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.6317 - loss: 0.7196 - val_accuracy: 0.6369 - val_loss: 0.6977
Epoch 3/100
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.6890 - loss: 0.6375 - val_accuracy: 0.6983 - val_loss: 0.6194
Epoch 4/100
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7625 - loss: 0.5454 - val_accuracy: 0.7374 - val_loss: 0.5667
Epoch 5/100
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7061 - loss: 0.6558 - val_accuracy: 0.7486 - val_loss: 0.5655
Epoch 6/100
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7723 - loss: 0.5126 - val_accuracy: 0.7933 - val_loss: 0.5056
Epoch 7/100
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7704 - loss: 0.4870 - val_accuracy: 0.7821 - val_loss: 0.5558
Epoch 8/100
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.7865 - loss: 0.4995 - val_accuracy: 0.7933 - val_loss: 0.4941
Epoch 9/100
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7885 - loss: 0.4483 - val_accuracy: 0.8045 - val_loss: 0.4835
Epoch 10/100
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - accuracy: 0.7636 - loss: 0.4849 - val_accuracy: 0.7151 - val_loss: 0.6610
Epoch 11/100
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7489 - loss: 0.5628 - val_accuracy: 0.7933 - val_loss: 0.4848
Epoch 12/100
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - accuracy: 0.8042 - loss: 0.4320 - val_accuracy: 0.7709 - val_loss: 0.5364
Epoch 13/100
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.8182 - loss: 0.4323 - val_accuracy: 0.8156 - val_loss: 0.4707
Epoch 14/100
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8170 - loss: 0.4461 - val_accuracy: 0.7877 - val_loss: 0.4640
Epoch 15/100
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.8508 - loss: 0.3834 - val_accuracy: 0.7989 - val_loss: 0.4799
Epoch 16/100
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.8281 - loss: 0.4130 - val_accuracy: 0.8045 - val_loss: 0.4477
Epoch 17/100
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8198 - loss: 0.4125 - val_accuracy: 0.7877 - val_loss: 0.4715
Epoch 18/100
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8344 - loss: 0.4032 - val_accuracy: 0.7821 - val_loss: 0.5016
Epoch 19/100
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8298 - loss: 0.3981 - val_accuracy: 0.8101 - val_loss: 0.4491
Epoch 20/100
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8248 - loss: 0.4051 - val_accuracy: 0.7877 - val_loss: 0.5008
Epoch 21/100
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8115 - loss: 0.4245 - val_accuracy: 0.8212 - val_loss: 0.5031
Epoch 22/100
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8340 - loss: 0.4659 - val_accuracy: 0.7821 - val_loss: 0.5635
Epoch 23/100
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8278 - loss: 0.4048 - val_accuracy: 0.7989 - val_loss: 0.4952
Epoch 24/100
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8259 - loss: 0.3978 - val_accuracy: 0.7933 - val_loss: 0.4624
Epoch 25/100
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8078 - loss: 0.4065 - val_accuracy: 0.8045 - val_loss: 0.4639
Epoch 26/100
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8335 - loss: 0.3880 - val_accuracy: 0.7765 - val_loss: 0.5525
6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8124 - loss: 0.4374
Validation Accuracy: 0.8045

In [ ]:
import pandas as pd

# テストデータの予測結果を取得
predictions = model.predict(test)
predictions = (predictions > 0.5).astype(int).flatten()

# 提出用のデータフレームを作成
submission = pd.DataFrame({
    "PassengerId": testsub["PassengerId"],
    "Survived": predictions
})

# CSVファイルとして保存
submission.to_csv("submission.csv", index=False)

# 完了メッセージ
print("Submission file 'submission.csv' has been created and is ready for upload to Kaggle.")

14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
Submission file 'submission.csv' has been created and is ready for upload to Kaggle.